@import '../../Select.module.scss';

.Multiple {
  position: relative;

  .Selector {
    @extend .SelectSelector;

    .Current {
      margin-right: 4px;
    }
  }

  .Holder {
    @extend .SelectHolder;

    padding-bottom: 0;

    .Header {
      border-bottom: 1px solid #eaeeee;

      margin: 0 16px;
      margin-bottom: 16px;

      padding-bottom: 16px;
      padding-left: 0;
      padding-right: 0;
    }

    .Search {
      padding: 0 16px;

      :global {
        .t-input {
          .t-input__box {
            width: 100%;

            input {
              width: 100%;
            }
          }
        }
      }
    }

    .Body {
      .Options {
        padding: 2px 0;
        position: relative;
        overflow-y: scroll;
        height: 350px;
      }
    }

    min-width: 375px;
  }
}
