@import '../../../tripment.scss';

.SelectSelector {
  position: relative;

  padding-left: 12px;
  padding-right: 40px;

  min-height: 48px;

  display: flex;
  align-items: center;

  box-shadow: 0 0 0 1px $accent-emerald-90;
  border-radius: 4px;

  cursor: pointer;

  &:hover {
    outline: 0;
    box-shadow: 0 0 0 1px $vital-green-90;
  }

  .Current {
    user-select: none;

    color: $vital-green-100;
    background: #ffffff00;
  }

  .Icon {
    $size-icon: 10px;

    position: absolute;

    background-image: url($arrow-close-icon);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffff00;

    cursor: pointer;

    border: 0;

    height: $size-icon;
    margin: -$size-icon / 2 18px 0 11px;
    top: 50%;
    right: 0;

    &:focus {
      outline: 0;
    }
  }

  .Multiple.Icon {
    background-image: url($cross-close-icon);
  }
}

.SelectHolder {
  display: none;
  position: absolute;
  margin-top: 1px;
  z-index: 1;

  background: #ffffff;
  border: 1px solid $vital-green-30;
  border-radius: 8px;
  padding: 16px 0;

  .Header {
    padding: 0 16px;
  }

  .Body {
    margin-top: 16px;
    padding: 0 16px;
  }
}

.Active {
  .Selector {
    background-color: $accent-emerald-90;

    .Current {
      color: $default-color;
    }

    .Icon {
      background-image: url($arrow-open-icon);
    }

    .Multiple.Icon {
      background-image: url($cross-open-icon);
    }
  }
  .Holder {
    display: unset;
  }
}
