.Item {
  display: flex;
  align-items: center;
  height: 27px;
  width: fit-content;

  .Value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 270px;
  }

  .Count {
    color: #91a5a7;
    margin-left: 8px;
  }
}

.Item + .Item {
  margin-top: 16px;
}
