/* Color */

$primary-color: #244d51;
$secondary-color: #668386;
$secondary-2-color: #91a5a7;
$btn-color: #fff;
$link-color: #d97767;

/* Background */
$primary-background: #327680;
$hover-background: #f5f7f7;
$default-background: #fff;

/* Height */
$select-height: 40px;
