// https://gist.github.com/ocean90/1268328
.FooterPanel {
  height: 34px;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-top: 1px solid #eaeeee;
  box-shadow: 0 -2px 2px -2px #bebebe77;

  > button {
    &:nth-child(1) {
      margin-right: auto;
    }
  }
}
