@import '../../../../styles/_variables';

.t-title {
  color: $primary-color;
  font-style: normal;
  letter-spacing: -0.3px;

  &_h2 {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
  }

  &_h3 {
    font-family: Inter;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
  }
}
