@import '../../Select.module.scss';

.Radio {
  position: relative;

  .Selector {
    @extend .SelectSelector;

    box-shadow: none;
  }

  .Holder {
    @extend .SelectHolder;

    width: 266px;
    height: 232px;
  }
}
